.products{
    display: flex;
    padding: 30px 50px;
}
.products .lefts{
    flex: 1;
    position: sticky;
    height: 100%;
    top: 50px;
}
.products .rights{
    flex: 3;
}
.products .catImg{
    width: 100%;
    height: 300px;
    object-fit: cover;
    margin-bottom: 50px;
}
.filterItem{
    margin-bottom: 50px;
}
.filterItem h2{
    margin-bottom: 20px;
    font-weight: 400;
}
.inputItem{
margin-bottom: 10px;
}

.inputItem label{
    margin-left: 10px;
    margin-bottom: 10px;
}
