.featured{
    margin: 100px 200px;
}
.top{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
   
}
.top h1{
flex: 2;
text-transform: capitalize;

}
.top p{
    flex: 3;
    color: gray;
    text-transform: capitalize;
}
.bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}