 .contact{
    background-color: #2879fe;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: center;
}

 .wrapper{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.wrapper input{
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.wrapper button{
    padding: 10px;
    color: white;
    background-color: #333;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.ic{
    display: flex;
    gap: 10px;
}